.link-animation {
  position: relative;
  display: inline-block;
}
.link-animation::after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: #008000;
  bottom: 0;
  left: 0;
  transition: 0.2s ease-out;
}
.link-animation:hover::after {
  width: 100%;
}