.instagram:hover {
  background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: #FAFAFA;
  border-color: var(--text-color);
}
.x:hover {
  background-color: #000000;
  color: #FAFAFA;
  border-color: var(--text-color);
}
.facebook:hover {
  background-color: #1877F2;
  color: #FAFAFA;
  border-color: var(--text-color);
}